@import '../../../../styles/utils/_variables.scss';

.section {
	&.mobile {
		display: block;
	}
	&.desktop {
		display: none;
	}
	@media screen and (min-width: 768px) {
		&.mobile {
			display: none;
		}
		&.desktop {
			display: block;
		}
	}
}

.accentTitle {
	color: $main-green;
}

.top_content {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 40px;
	width: 100%;
	padding: 24px 26px;
	border-radius: 18px;
	background: $green-30;
	@media screen and (min-width: 768px) {
		flex-direction: row;
		margin: 0 auto;
		padding: 24px;
		margin-bottom: 52px;
		border-radius: 10px;
	}
	@media screen and (min-width: 1024px) {
		padding: 32px;
		margin-bottom: 64px;
	}
	@media screen and (min-width: 1440px) {
		width: 1087px;
		padding: 36px;
	}

	&__icon {
		width: 58px;
		height: 58px;
		@media screen and (min-width: 768px) {
			width: 95px;
			height: 120px;
		}
	}

	&__text {
		margin: 20px 0px 0px 0px;
		font-weight: 300;
		font-size: 16px;
		line-height: 1.5;
		@media screen and (min-width: 768px) {
			margin: 0px 0px 0px 16px;
		}
		@media screen and (min-width: 1024px) {
			margin: 0px 0px 0px 20px;
			font-size: 18px;
		}
	}
}

.list {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 32px;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 308px;
	padding: 20px;
	border: 1px solid $focus-green;
	border-radius: 10px;
	box-shadow: 12px -12px 0 0 $second-green;
	@media screen and (min-width: 768px) {
		height: 370px;
		box-shadow: 16px -16px 0 0 $second-green;
	}
	@media screen and (min-width: 1024px) {
		width: 392px;
		height: 352px;
		box-shadow: 18px -18px 0 0 $second-green;
	}

	&__desc {
		margin-top: 8px;
		font-weight: 300;
		font-size: 16px;
		line-height: 1.5;
		color: $main-black;
		@media screen and (min-width: 1024px) {
			font-size: 18px;
		}
	}
}

.swiper {
	padding-top: 18px;
}
