@import "../../../../styles/utils/variables";
.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1440px) {
    display: inline-block;
  }
}

.img_container {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  width: 360px;
  height: 381px;
  @media screen and (min-width: 768px) {
    width: 768px;
    height: 381px;
    margin-left: -32px;
    margin-right: -32px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: -80px;
    margin-right: 0;
    width: 849px;
    height: 921px;
  }
}
.img {
  object-fit: cover;
  object-position: -250px;

  transform: scaleX(-1);
  @media screen and (min-width: 768px) {
    object-position: 0px;
  }
  @media screen and (min-width: 1440px) {
    object-position: -700px;
    transform: scaleX(1);
  }
}
.text_container {
  position: relative;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1440px) {
  }
}
.list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 18px;
  padding: 18px 0px 0px;
  background: $main-white;
  width: 320px;
  margin-top: -50px;
  @media screen and (min-width: 768px) {
    width: 700px;
  }
  @media screen and (min-width: 1440px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 56px;
    border-radius: 40px;
    padding: 56px;
    background: $main-white;
    width: 904px;
    height: 677px;
    bottom: 122px;
    right: 0;
  }
}
.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;

  animation: myItem 2s ease 1s 1 alternate backwards;
  &:first-child {
    animation: myItem 2s ease 0s 1 alternate backwards;
  }
  &:last-child {
    animation: myItem 2s ease 2s 1 alternate backwards;
  }

  @media screen and (min-width: 1440px) {
    gap: 20px;
    flex-direction: row;
    padding: 0px;
  }
}

.subtitle_wrap {
  display: flex;
  padding: 0 9px;

  gap: 10px;
  @media screen and (min-width: 1440px) {
    padding: 0;
  }
}

.icon_first {
  position: relative;
  width: 36px;
  height: 36px;

  @media screen and (min-width: 1440px) {
    width: 92px;
    height: 93px;
  }
}
.icon_second {
  position: relative;
  min-width: 36px;
  height: 48px;

  @media screen and (min-width: 1440px) {
    width: 80px;
    height: 115px;
  }
}
.icon_third {
  position: relative;
  min-width: 36px;
  height: 36px;

  @media screen and (min-width: 1440px) {
    width: 92px;
    height: 82px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $main-black;
  @media screen and (min-width: 1440px) {
    display: none;
    font-weight: 600;
    font-size: 18px;
    text-align: justify;
  }
}
.subtitle_desktop {
  display: none;

  @media screen and (min-width: 1440px) {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    color: $main-black;
  }
}
.desc_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    text-align: justify;
    color: $main-black;
  }
}

@keyframes myItem {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
