@import "../../../../styles/utils/variables";
.section {
  // padding-bottom: 120px;
}
.content {
  position: relative;
}
.img {
  margin-left: -80px;
}
.list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 56px;
  border-radius: 40px;
  padding: 56px;
  background: $main-white;
  width: 904px;
  height: 677px;
  top: 120px;
  left: 456px;
}
.item {
  display: flex;
  align-items: flex-start;
  gap: 20px;

  animation: myItem 2s ease 1s 1 alternate backwards;
  &:first-child {
    animation: myItem 2s ease 0s 1 alternate backwards;
  }
  &:last-child {
    animation: myItem 2s ease 2s 1 alternate backwards;
  }
}
.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $main-black;
}
.desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  color: $main-black;
}

@keyframes myItem {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
