@import "../../styles/utils/variables";
.section {
  padding: 100px 0;
}
.inner {
  display: flex;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.item {
  border-radius: 10px;
  padding: 12px;
  background: $main-white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 410px;

  &:hover,
  &:focus {
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
  }

  &__img {
    overflow: hidden;
    width: 100%;
    height: 193px;
    border-radius: 10px;
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-right: 42px;
  }
  &__data {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: $main-grey;
  }
}
.link {
  color: $main-black;
  &:hover,
  &:focus {
    color: $focus-green;
  }
}

.card {
  padding: 100px 0;

  &__img {
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    border-radius: 10px;
    margin-bottom: 60px;
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-right: 42px;
  }
  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: $main-black;
    margin-bottom: 16px;
  }
  &__data {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: $main-grey;
  }
}
