@import '../../styles/utils/variables';
.section {
	padding: 100px 0;
}
.inner {
	display: flex;
}

.list {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}
.item {
	/* border-radius: 10px; */
	padding: 12px;
	background: $main-white;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 410px;

	&:hover,
	&:focus {
		box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
	}

	&__img {
		/* overflow: hidden;
		width: 100%;
		height: 193px;
		border-radius: 10px; */
	}
	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: 1.5;
		text-transform: uppercase;
		margin-right: 42px;
	}
	&__data {
		font-weight: 300;
		font-size: 16px;
		line-height: 1.5;
		color: $main-grey;
	}
}
.link {
	color: $main-black;
	&:hover,
	&:focus {
		color: $focus-green;
	}
}

.card {
	position: relative;
	padding: 100px 0;
	height: 100vh;

	&__img {
	}

	&__wrapDescription {
		position: absolute;
		bottom: 0;
		left: 20px;
		border-radius: 18px;
		padding: 24px 20px;
		width: 320px;
		background: $main-white;
	}

	&__title {
		font-weight: 600;
		font-size: 16px;
		line-height: 1.5;
		tex-align: center;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	&__description {
		font-weight: 300;
		font-size: 18px;
		line-height: 1.5;
		/* text-align: justify; */
		color: $main-black;
		margin-bottom: 20px;
	}

	&__dataTitle {
		font-weight: 600;
		font-size: 16px;
		line-height: 1.5;
		color: $main-black;
	}

	&__data {
		font-weight: 300;
		font-size: 16px;
		line-height: 1.5;
		color: $main-black;
	}
}
