@import '../../styles/utils/_variables.scss';

.section {
	padding: 60px 0px 60px 0px;
	@media screen and (min-width: 768px) {
		padding: 80px 78px 80px 78px;
	}
	@media screen and (min-width: 1024px) {
		padding: 100px 0px 100px 0px;
	}
	@media screen and (min-width: 1440px) {
		padding: 100px 0px 120px 0px;
	}
	&__content {
		margin: 0 auto;
		padding: 24px 0px;
		border-radius: 18px;
		box-shadow: 0 0 36px 4px rgba(45, 93, 55, 0.2);
		@media screen and (max-width: 767px) {
			max-width: 532px;
		}
		@media screen and (min-width: 768px) {
			width: 532px;
			padding: 48px 0px;
		}
		@media screen and (min-width: 1024px) {
			min-width: 904px;
		}
		@media screen and (min-width: 1440px) {
			width: 937px;
		}
	}
	&__titleWrapper {
		text-align: center;
	}
	&__title {
		@media screen and (min-width: 768px) and (max-width: 1023px) {
			font-size: 24px !important;
		}
	}
}

.title {
	margin-bottom: 4px;
	font-weight: 300;
	font-size: 16px;
}

.headTitle {
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 1.5;
	margin-bottom: 8px;
	@media screen and (min-width: 768px) {
		font-size: 18px;
	}
}

.container_mainBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	padding: 0px 24px 0px 24px;
	width: 100%;
	@media screen and (min-width: 768px) {
		padding: 0px 32px 0px 32px;
	}
	@media screen and (min-width: 1024px) {
		padding: 0px 36px 0px 36px;
		flex-direction: row;
		gap: 24px;
	}
	@media screen and (min-width: 1440px) {
		padding: 0px 48px 0px 48px;
		gap: 32px;
	}
}

/* left block */
.container_leftBlock {
	display: flex;
	flex-direction: column;
	width: 100%;
	@media screen and (min-width: 768px) {
		width: 100%;
	}
	@media screen and (min-width: 1024px) {
		width: 282px;
	}
}

.amountBlock {
	margin-bottom: 16px;
}

.gridContainer {
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	margin-bottom: 16px;
	@media screen and (min-width: 768px) {
		gap: 12px;
	}

	&__inputWrapper {
		grid-column: span 2;
		display: flex;
		flex-direction: column;
	}
	&__recommendationText {
		margin-top: 4px;
		font-size: 12px;
		color: $main-grey;

		&.redText {
			color: $red-text;
		}
	}
}

.fixedAmountDonatInput {
	border: 1px solid $main-green;
	border-radius: 8px;
	padding: 4px 16px;
	width: 100%;
	height: 48px;
	background-color: white;
	text-align: center;
	font-weight: 300;
	font-size: 16px;
	outline: none;
	&:hover,
	&:focus {
		border: 2px solid $green-hover;
	}
}

.fixedAmountDonatBtn {
	border: 1px solid $main-green;
	border-radius: 8px;
	padding: 4px 16px;
	width: 100%;
	height: 48px;
	background-color: white;
	font-weight: 300;
	font-size: 16px;
	&.marginNone {
		margin: 0;
	}
}

/* custom select */
.selectBtnBlock {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.selectBtn {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid $main-green;
	border-radius: 8px;
	padding: 4px 16px;
	width: 100%;
	height: 48px;
	background-color: white;
	font-weight: 300;
	font-size: 16px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	&.active .svgIcon {
		transition: transform 0.8s;
		transform: rotate(180deg);
	}
}

.svgIcon__thumb {
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.svgIcon {
	transition: transform 0.3s ease;
}

.optionsList {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: $second-white;
	list-style: none;
	padding: 10px;
	border-radius: 4px;
	width: 100%;
	transition: transform 1.5s;
	text-decoration: none;
	font-size: 16px;
	transition: color 0.3s;
	box-shadow: 6px 6px 2px rgba(255, 255, 255, 0.2),
		5px 5px 15px rgb(0 0 0 / 35%);
	z-index: 1;

	&.active {
		display: block;
	}

	&__option {
		display: flex;
		align-items: center;
		padding: 10px 5px;
		width: 100%;
		&:hover {
			border-radius: 8px;
			background: $green-50;
		}
	}

	&__item {
		color: $second-grey-text;
	}
}

/* ammount donate buttons */

.donateBtnWrapper {
	grid-column: span 3;
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(3, 1fr);
	@media screen and (min-width: 768px) {
		gap: 12px;
	}
}

.payBtn {
	text-align: center;
}

/* right block */
.container_rightBlock {
	flex-grow: 1;
	@media screen and (min-width: 1024px) {
	}
	@media screen and (max-width: 1240px) {
		width: 100%;
	}
}

.financial__title {
	font-family: 'Exo 2', sans-serif;
	font-weight: 500;
	font-size: 32px;
	text-transform: uppercase;
	color: #141414;
	text-align: center;
	margin-bottom: 48px;
}

.offerLink {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	text-decoration: underline;
}

.btnPay {
	margin: 16px 0px;
	border: none;
	border-radius: 40px 0;
	padding: 16px 40px;
	width: 272px;
	height: 52px;
	background: $main-green;
	font-weight: 300;
	font-size: 20px;
	line-height: 1;
	text-align: center;
	color: $main-white;
	transition: all 250ms ease-in-out;
	&:hover,
	&:focus {
		background: $green-hover;
	}
	&:disabled {
		background: $main-grey;
		color: $main-white;
		cursor: not-allowed;
	}
}

.bankDetailsBlock {
	&__infoField {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	&__subTitle {
		font-weight: 700;
		font-size: 16px;
		line-height: 1.5;
	}
	&__descriptionBlock {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		&__text {
			min-width: 244px;
			font-weight: 300;
			font-size: 16px;
			line-height: 1.5;
			overflow-wrap: break-word;
		}
		&__copyBtn {
			border: none;
			background-color: transparent;
			margin-left: 4px;
		}
	}
}

//====================Modal===============================
.modal__content {
	padding: 30px 55px 50px;
}
.modal__paymentIcomThumb {
	width: 146px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
}
//====================Modal Sucsess===============================
// .Modal__content {
//   padding: 20px;
// }
