@import '../../../../styles/utils/_variables.scss';

.section {
	margin-top: 45px;

	&__title {
		margin-bottom: 35px;
		font-weight: 600;
		font-size: 16px;
		line-height: 1.5;
		text-transform: uppercase;
		text-align: center;
		color: $main-black;
	}
}

.news {
	&__list {
		margin-bottom: 20px;
	}
	&__item {
		border-bottom: 1px solid $main-grey;
		padding: 12px;
		min-width: 320px;
		height: 132px;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
	&__itemWrap {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		margin-right: 12px;
		margin-bottom: 12px;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.5;
		color: $main-black;
	}
	&__imgBox {
		position: relative;
		min-width: 75px;
		height: 75px;
	}
	&__img {
		border-radius: 4px;
		object-fit: cover;
	}
	&__date {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.5;
		color: $main-grey;
	}
}

.more {
	&__box {
		margin: 24px 0px 24px 0px;
		text-align: center;
	}
	&__link {
		font-weight: 300;
		font-size: 16px;
		line-height: 1;
		text-align: center;
		color: $main-black;
		border-bottom: 1px solid $main-black;
		padding: 12px;

		&:hover,
		&:focus {
			border-bottom: 2px solid $green-hover;
		}
	}
}
