h1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  //   box-shadow: inset -15px -15px 15px rgba(255, 255, 255, 0.2),
  //     inset 15px 15px 15px rgba(0, 0, 0, 0.1),
  //     inset -5px -5px 5px rgba(255, 255, 255, 0.2),
  //     inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.main_title {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  //   margin-bottom: 20px;
  //   margin-top: 20px;
  padding: 20px 0;
}
