//  SASS Vars
$main-green: #0d490d;
$second-green: #2D5D37;
$focus-green: #173614;
$green-50: #e8f1e7;
$green-30: #f5f8f5;
$main-black: #141414;
$main-white: #fffefe;
$main-grey: #adadad;
$green-hover: #10880d;
