.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Півпрозорий чорний колір */
  display: flex;
  z-index: 10;

  @media screen and (min-width: 1240px) {
    justify-content: center;
    align-items: center;
  }
}

.modal {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Тінь */
  //   padding: 20px;
  width: 100%;
  overflow-y: scroll;
  // @media screen and (min-width: 768px) {
  //   display: none;
  // }
  @media screen and (min-width: 480px) {
    max-width: 363px;
    // min-width: 40%;
  }
  // @media screen and (min-width: 580px) {
  //   max-width: 70%;
  // }
  // @media screen and (min-width: 640px) {
  //   max-width: 60%;
  // }
  // @media screen and (min-width: 720px) {
  //   max-width: 50%;
  // }
  // @media screen and (min-width: 1024px) {
  //   max-width: 40%;
  // }
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 20px;
}

.header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.header button:hover {
  border-radius: 4px;
  background-color: #e8f1e7;
  color: #333; /* Змінюється колір тексту при ховері */
}
// .close-icon:hover {
//   fill: red; /* Змінюємо колір fill на червоний при ховері */
//   cursor: pointer; /* Змінюємо курсор на pointer при наведенні */
// }

// .closeIcon {
//   fill: #333; /* Початковий колір іконки */
// }

// .header button:hover .closeIcon {
//   fill: green; /* Колір іконки при ховері */
// }

.overlayMessage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Півпрозорий чорний колір */

  z-index: 10;
}
.modalMessage {
  position: absolute;
  padding: 48px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background: #fffefe;
  border-radius: 18px;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
  & .header {
    position: absolute;
    top: 16px;
    right: 16px;
    margin-right: 0px;
    margin-top: 0px;
  }
  & button {
    background-color: transparent;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    color: #333;
    &:hover,
    &:focus {
      background-color: #f5f8f5;
    }
  }
}
