@import '../../../../styles/utils/_variables.scss';

.section {
	padding: 0px 40px 0px 40px;
	&__title {
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 16px;
		line-height: 1.5;
		color: $main-black;
	}
}

.social {
	&__wrap {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.inputLink {
	&__wrap {
		display: flex;
		align-items: center;
	}
	&__input {
		margin-right: 8px;
		border: 1px solid $main-grey;
		border-radius: 4px;
		padding: 0px 0px 0px 12px;
		width: 237px;
		height: 36px;
	}
	&__btn {
		border-radius: 4px;
		border: none;
		cursore: pointer;
	}
}
