@charset "UTF-8";
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.header__contact {
  display: flex;
  height: 60px;
  padding: 10px 0px;
  justify-content: center;
  padding: 20px 0px;
  padding-left: auto;
  padding-right: auto;
}

.header__svgLink {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  color: black;
  margin: 5px;
}
.header__svgLink:hover, .header__svgLink:focus {
  color: #173614;
  fill: #173614;
}
.header__svgLink:hover::after, .header__svgLink:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header__svgLink:focus {
  outline: none;
}

.header__contactToCenter {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin: 0px, auto;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 80px;
}

.header__logoLink {
  display: flex;
}

.header__contact_phoneEemail_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contact__socialBlock {
  display: "flex";
}

.social-icon {
  width: 30px;
  height: 30px;
}
.social-icon:hover {
  fill: green;
  color: green;
}

.header__social {
  width: 323px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contactLink {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 20px;
}

.header__contactIcon {
  margin: "0px, 4px";
  width: 24px;
}

.nav {
  display: flex;
  margin: 0px 20px;
  align-items: center;
  text-align: center;
}

.nav__item {
  position: relative;
  margin-right: 20px;
  height: fit-content;
  cursor: pointer;
  display: flex;
}

.nav-item:hover .svgIcon {
  transform: rotate(180deg);
  transition: transform 0.5s;
  stroke: green; /* Додайте цей рядок, щоб змінити колір на зелений */
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px;
  border-radius: 4px;
  width: max-content;
}

.nav__item:hover .dropdown {
  display: block;
}

.nav-links {
  color: black;
}

.nav-item:hover .dropdown {
  display: block;
  transition: transform 1.5s;
}

.dropdown li {
  margin: 5px 0;
}

.dropdown {
  transition: transform 1.5s;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
  box-shadow: 6px 6px 2px rgba(255, 255, 255, 0.2), 5px 5px 15px rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.dropdown li:hover {
  border-radius: 8px;
  background: #e8f1e7;
}

.active {
  font-weight: bold;
}

s.contactLink {
  font-size: "20px";
  cursor: "pointer";
  color: "black";
  margin-right: 20px;
}/*# sourceMappingURL=Header.module.css.map */