@import "../../../styles/utils/container";
@import "../../../styles/utils/variables";

// .header {
//   position: -webkit-sticky; /* For Safari */
//   position: sticky;
//   top: 0;
//   z-index: 10;
//   background-color: #fff;
//   // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }
.header__container {
  //   @extend .container;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
}
.header__contact {
  display: none;
  // max-width: 1440px;
  height: 60px;
  padding: 10px 0px;
  justify-content: center;
  padding: 20px 0px;
  padding-left: auto;
  padding-right: auto;
  background-color: #e8f1e7;
  @media screen and (min-width: 1240px) {
    display: flex;
  }
}

.header__svgLink {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  color: black;
  margin: 5px;

  &:hover,
  &:focus {
    color: $focus-green;
    fill: $focus-green;
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &:focus {
    outline: none;
  }
}

.header__contactToCenter {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;

  margin: 0 auto;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 6px 28px 6px 20px;
  @media screen and (min-width: 1240px) {
    margin: 20px 80px 20px 60px;
  }
}
.header__logoLink {
  //   margin-left: 80px;
  display: flex;
}

.header__contact_phoneEemail_block {
  display: flex;
  align-items: center;
  margin-left: 60px;
  justify-content: space-between;
}
.header__logout {
  background-color: transparent;
  border: none;
  @media screen and (max-width: 1240px) {
    display: none;
  }
}
.header__langChangContainer {
  display: none;
  @media screen and (min-width: 1240px) {
    display: flex;
  }
}
//=====================================Navbar===========================================

.nav {
  display: none;
  margin: 0px 20px;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 1240px) {
    display: flex;
  }
}

.nav__itemContainer {
  position: relative;
  height: fit-content;
  // min-width: 80%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 18px 0;
  justify-content: space-between;
  white-space: nowrap;
  @media screen and (min-width: 1240px) {
    margin-right: 20px;
    flex-direction: row;
  }
}
.nav__itemContainer:hover .svgIcon {
  transform: rotate(180deg);
  transition: transform 0.8s;

  stroke: green;
}

.nav__item {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  list-style: none;
  padding: 10px;
  border-radius: 4px;
  width: max-content;
  transition: transform 1.5s;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
  box-shadow: 6px 6px 2px rgba(255, 255, 255, 0.2),
    5px 5px 15px rgb(0 0 0 / 35%);
  z-index: 1;
}

.dropdown__item {
  display: flex;
  padding: 10px 5px;
  width: 100%;
}

.nav-links {
  color: black;
}

.nav__itemContainer:hover .dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-item:hover .dropdown {
  display: block;
  transition: transform 1.5s;
}

.dropdown li:hover {
  border-radius: 8px;
  background: #e8f1e7;
}

.active {
  font-weight: bold;
}
s.contactLink {
  font-size: "20px";
  cursor: "pointer";
  color: "black";
  padding: 18px 0;
  @media screen and (min-width: 1240px) {
    margin-right: 20px;
    display: flex;
  }
}

// @media screen and (min-width: 320px) {
//   min-width: 320px;
// }

// @media screen and (min-width: 1024px) {
//   min-width: 1024px;
//   padding-left: 32px;
//   padding-right: 32px;
// }

// @media screen and (min-width: 1280px) {
//   max-width: 1280px;
//   padding-left: 32px;
//   padding-right: 32px;
// }
// @media screen and (min-width: 1440px) {
//   max-width: 1440px;
//   padding-left: 80px;
//   padding-right: 80px;
// }
//=====================================NavbarMobile=====================================
.navMobile {
  display: flex;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 1239px) {
    display: none;
  }
}
.navMobile__wraper {
  padding: 24px;
}
.dropdownMobile {
  display: none;
  // position: absolute;
  // top: 100%;
  // left: 0;
  // background-color: #fff;
  list-style: none;
  // padding: 10px;
  // border-radius: 4px;
  // width: max-content;
  // transition: transform 1.5s;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  // box-shadow: 6px 6px 2px rgba(255, 255, 255, 0.2),
  //   5px 5px 15px rgb(0 0 0 / 35%);
  z-index: 1;

  @media screen and (min-width: 1239px) {
    // display: none;
  }
}
.dropdownMobile__item {
  padding: 8px 0;
}

.dropdownActive {
  display: block;
}

.linkMobile {
  display: flex;
  padding: 18px 0;
  align-items: flex-start;
}
.menuBtn {
  border: none;
  background-color: transparent;
}
.imageWrapper:hover img {
  transform: scale(1.1); /* Збільшити розмір на 10% при ховері */
  fill: red;
}
.svg {
  // transform: scale(1.1); /* Збільшити розмір на 10% при ховері */
  fill: red;
  color: red;
}
.nav__logoutMobile {
  background-color: transparent;
  border: none;
}
//=======================SocialLinks========================
.socials__List {
  display: flex;
  justify-content: space-between;
}
.socials__List_item {
  margin-right: 24px;
}

.social__link {
  font-size: 18px;
  line-height: 1.5;
  gap: 8px;
  display: flex;
}
