@import "../../../../styles/utils/variables";
.section {
}
.btn_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.accentTitle {
  color: $main-green;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 24px;
  }
  @media screen and (min-width: 768px) {
    gap: 40px;
  }
}

.item {
  width: 320px;
  border: 1px solid rgba(20, 20, 20, 0.12);
  border-radius: 16px;
  padding: 12px;
  display: flex;
  flex-direction: column;

  gap: 18px;
  background: $main-white;
  @media screen and (min-width: 1024px) {
    width: 400px;
    gap: 20px;
    border-radius: 18px;
    padding: 20px;
  }
  &:hover,
  &:focus {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  }
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media screen and (min-width: 1024px) {
      gap: 12px;
      margin-bottom: 15px;
    }
  }
  &__image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 208px;
    border-radius: 12px;
    @media screen and (min-width: 1024px) {
      border-radius: 10px;

      // width: 360px;
      height: 270px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: left;
    color: $main-black;
    @media screen and (min-width: 1024px) {
      font-size: 18px;
    }
  }
  &__desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 72px;
    color: $main-black;
    @media screen and (min-width: 1024px) {
      height: 100px;
    }
  }
  &__box {
    width: 100%;
  }
  &__progres_bar {
    width: 100%;
    height: 6px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: $main-white;
    margin-bottom: 4px;
  }
  &__progres_bar_fill {
    height: 100%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: $main-green;
    transition: width 0.5s ease-out;
  }
  .item__progres_bar_text {
    display: flex;
    justify-content: space-between;
    // flex-direction: column;
  }
  &__progres_bar_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__progres_bar_label {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: $main-grey;
  }
  &__progres_bar_money {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: justify;
    color: $main-black;
    margin-top: 2px;
    @media screen and (min-width: 1440px) {
      font-size: 18px;
    }
  }
  &__btn {
    font-size: 16px;
    padding: 14px 36px;
    width: 296px;

    @media screen and (min-width: 1024px) {
      padding: 14px 36px;
      font-size: 16px;
      width: 360px;
      height: 44px;
    }
  }
}
.item:last-child {
  display: none;
  @media screen and (min-width: 1440px) {
    display: flex;
  }
}

.box {
  margin-top: 16px;
  text-align: center;
  margin-bottom: 4px;

  &__link {
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: $main-black;
    border-bottom: 1px solid $main-black;
    padding: 12px;

    &:hover,
    &:focus {
      border-bottom: 2px solid $green-hover;
    }
  }
  @media screen and (min-width: 1024px) {
    margin-top: 32px;

    &__link {
      font-size: 20px;
    }
  }
  @media screen and (min-width: 1440px) {
    margin-top: 48px;

    &__link {
      font-size: 20px;
    }
  }
}
