@import '../../../../styles/utils/variables';

.section {
	&.desktop {
		display: none;
	}
	&.mobile {
		display: block;
	}
	@media screen and (min-width: 1024px) {
		&.mobile {
			display: none;
		}
		&.desktop {
			display: block;
		}
	}
}

.accentTitle {
	color: $main-green;
}

.content {
	@media screen and (min-width: 1024px) {
		display: flex;
		justify-content: space-between;
	}
}

.list {
	position: relative;
	&::before {
		content: url('/about/bg-leaf-mob-1.png');
		display: block;
		position: absolute;
		width: 83px;
		height: 146px;
		top: -20px;
		left: 0;
		z-index: -1;
	}
	&::after {
		content: url('/about/bg-leaf-mob-2.png');
		display: block;
		position: absolute;
		width: 83px;
		height: 146px;
		bottom: 10px;
		right: 0;
		z-index: -1;
	}

	@media screen and (min-width: 768px) {
		&::before {
			content: url('/about/bg-leaf-tab-1.png');
			width: 228px;
			height: 402px;
		}
		&::after {
			content: url('/about/bg-leaf-tab-2.png');
			width: 204px;
			height: 359px;
			bottom: -48%;
			right: 4%;
			z-index: -1;
		}
	}

	@media screen and (min-width: 1024px) {
		&::before {
			content: url('/about/bg-leaf-1.png');
			width: 443px;
			height: 412px;
			top: -102px;
			left: -80px;
			z-index: -1;
		}
		&::after {
			content: url('/about/bg-leaf-2.png');
			width: 443px;
			height: 412px;
			bottom: -25px;
			right: -118%;
			z-index: -1;
		}
	}
}

.item {
	&:not(:last-child) {
		margin-bottom: 20px;
	}
	@media screen and (min-width: 768px) {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	@media screen and (min-width: 1024px) {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__title_wrap {
		margin-bottom: 24px;
		cursor: pointer;
		@media screen and (min-width: 1440px) {
			max-width: 619px;
		}
	}

	/* active */
	&__title_wrap.active {
		position: relative;

		&::before {
			content: url('/about/Arrow-2.svg');
			display: inline-block;
			position: absolute;
			width: 48px;
			height: 32px;
			top: 0;
			left: 0;
		}

		& .item__title {
			color: green;
			transform: translateX(0);
			transition: transform 0.3s ease;
		}

		&:hover .item__title,
		&:focus .item__title {
			transform: translateX(56px);
		}

		& .item__title {
			transform: translateX(56px);
		}
	}

	&__title {
		margin-bottom: 12px;
		font-weight: 600;
		font-size: 16px;
		line-height: 1.5;
		text-transform: uppercase;
		@media screen and (min-width: 768px) {
			width: 632px;
		}
		@media screen and (min-width: 1024px) {
			margin-bottom: 16px;
			font-size: 18px;
		}
	}
}

.desc_wrap {
	position: relative;
	width: 596px;
}

.desc {
	display: none;
	&.active {
		display: block;
		font-weight: 300;
		font-size: 16px;
		line-height: 1.5;
	}
	@media screen and (min-width: 1024px) {
		display: block;
		font-size: 18px;
	}
}
