@import "../../../../styles/utils/variables";

.section {
    padding-bottom: 60px;
    &.desktop {
      display: none;
    }
    &.mobile {
      display: block;
    }
  @media screen and (min-width: 1440px) {
    padding-bottom: 74px;
    &.mobile {
      display: none;
    }
    &.desktop {
      display: block;
    }
  }
}

.content {
  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
  }
}

.list {
  position: relative;
  &::before {
    content: url('/about/bg-leaf-mob-1.png');
    display: block;
    position: absolute;
    width: 83px;
    height: 146px;
    top: -20px;
    left: 0;
    z-index: -1;
  }
  &::after {
    content: url('/about/bg-leaf-mob-2.png');
    display: block;
    position: absolute;
    width: 83px;
    height: 146px;
    bottom: 10px;
    right: 0;
    z-index: -1;
  }

  @media screen and (min-width: 1440px) {
    &::before {
      content: url('/about/bg-leaf-1.png');
      display: block;
      position: absolute;
      width: 443px;
      height: 412px;
      top: -102px;
      left: -80px;
      z-index: -1;
    }
    &::after {
      content: url('/about/bg-leaf-2.png');
      display: block;
      position: absolute;
      width: 443px;
      height: 412px;
      bottom: -25px;
      right: -119%;
      z-index: -1;
    }
  }
}

.item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &__title_wrap {
    margin-bottom: 24px;
    cursor: pointer;
    @media screen and (min-width: 1440px) {
      max-width: 619px;
    }
  }

/* active */
  &__title_wrap.active {
    position: relative;

    &::before {
      content: url('/about/Arrow-2.svg');
      display: inline-block;
      position: absolute;
      width: 48px;
      height: 32px;
      top: 0;
      left: 0;
    }

    & .item__title {
      color: green;
      transform: translateX(0);
      transition: transform 0.3s ease;
    }

    &:hover .item__title,
    &:focus .item__title {
      transform: translateX(56px);
    }

    & .item__title {
      transform: translateX(56px);
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    @media screen and (min-width: 1440px) {
      font-size: 18px;
    }
  }
}

.desc_wrap {
  position: relative;
  width: 596px;
}

.desc {
  display: none;
  &.active {
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
  }
  @media screen and (min-width: 1440px) {
    display: block;
    font-size: 18px;
  }
}