@import "../../../../styles/utils/variables";

.wrap {
  margin-top: 24px;
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;

  @media screen and (min-width: 768px) {
    margin-top: 28px;
    gap: 0;
    justify-content: space-between;
    margin-bottom: 28px;
  }
}
.item {
  padding: 8px 0;
}

.link {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  color: $main-black;
  justify-content: space-between;
  gap: 8px;

  &:hover,
  &:focus {
    color: $green-hover;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.5;
    gap: 8px;
  }
  @media screen and (min-width: 1440px) {
    justify-content: start;
  }
}
