.wrap {
	display: flex;
	flex-direction: column;
	gap: 56px;
	padding-bottom: 56px;
	@media screen and (min-width: 1440px) {
		display: flex;
		flex-direction: column;
		gap: 120px;
		padding-bottom: 120px;
	}
}

.section {
	position: relative;
	top: 0;
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
}
