@import "../../../styles/utils/variables";

.box {
  margin-bottom: 60px;
}
.title {
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  color: $main-black;
}
.svg {
  border-radius: 0px;
  fill: $main-green;
  stroke-width: 1px;
  stroke: #000000;
}
