@import "../../../../styles/utils/variables";
.wrap {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 0;
  border-top: 1px solid $main-green;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1024px) {
    flex-direction: row;

    padding: 28px 0 0;
  }
}
.copy {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: $main-black;
  @media screen and (min-width: 768px) {
    text-align: start;
    font-size: 14px;
    margin-top: 0px;
  }
  @media screen and (min-width: 1024px) {
    margin: 0;
  }
}
.inner {
  display: flex;
  gap: 26px;
  @media screen and (min-width: 425px) {
    gap: 24px;
  }
}

.link_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 24px;
  }
}

.link {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $main-black;
  transition: all 200ms ease-in-out;
  &:hover,
  &:focus {
    color: $green-hover;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}
