.changeLanguage__select {
  border-radius: 8px;
  padding: 8px;
  width: 136px;
  height: 40px;
  border: none;
}

.changeLanguage__select {
  font-weight: 300;
  font-size: 20px;
  color: #141414;
}

.changeLanguage__options {
  border-radius: 8px;
  width: 136px;
  height: 40px;
}
