@import "../../../../styles/utils/variables";

.inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: 1440px) {
    gap: 60px;
  }
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: $main-black;

  @media screen and (min-width: 1440px) {
    font-weight: 500;
    font-size: 32px;
  }
}
.imgContainer {
  margin: 0 -20px;
  @media screen and (min-width: 768px) {
    margin: 0 -40px;
  }
  @media screen and (min-width: 1024px) {
    margin: 0 -60px;
  }
  @media screen and (min-width: 1440px) {
    margin: 0 -80px;
  }
}

.imgInner {
  position: relative;
  width: 100%;
  height: 241px;
  overflow: hidden;
  @media screen and (min-width: 1440px) {
    height: 463px;
  }
}
.img {
  object-fit: cover;
}
.textContainer {
  position: relative;
  border: 1px solid $green-50;
  border-radius: 24px;
  padding: 24px 0px;

  max-width: 652px;
  background: $main-white;
  margin-top: -28px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1440px) {
    margin-top: -133px;
    border-radius: 40px;
    padding: 24px;
  }
}
.textInner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.icon {
  width: 13px;
  height: 22px;
}
.descWrap {
  display: flex;
}
.descTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #141414;
}
.description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: $main-black;

  @media screen and (min-width: 1440px) {
    font-size: 18px;
  }
}
.link {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0d490d;
}
