@import '../../../../styles/utils/variables';

.section {
	padding-bottom: 52px;
	@media screen and (min-width: 768px) {
		padding-bottom: 67px;
	}
	@media screen and (min-width: 1024px) {
		padding-bottom: 54px;
	}
	@media screen and (min-width: 1440px) {
		padding-bottom: 53px;
	}
}

.accentTitle {
	color: $main-green;
}

.parallax {
	position: relative;
	background: url('/about/aerial-view-green-forest.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 140px;
	@media screen and (min-width: 768px) {
		height: 214px;
	}
	@media screen and (min-width: 1024px) {
		height: 286px;
	}
}

.list {
	position: absolute;
	top: -50px;
	right: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 240px;
	height: 240px;
	border-radius: 10px;
	background: $second-green;
	box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
	@media screen and (min-width: 768px) {
		right: 40px;
		width: 320px;
		height: 320px;
		border-radius: 10px;
	}
	@media screen and (min-width: 1024px) {
		right: 60px;
		width: 392px;
		height: 392px;
		border-radius: 10px;
	}
	@media screen and (min-width: 1440px) {
		right: 80px;
	}
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 120px;
	@media screen and (min-width: 768px) {
		width: 160px;
		height: 160px;
	}
	@media screen and (min-width: 1024px) {
		width: 196px;
		height: 196px;
	}

	&__icon {
		width: 55px;
		height: 48px;
		@media screen and (min-width: 768px) {
			width: 60px;
			height: 52px;
		}
		@media screen and (min-width: 1024px) {
			width: 80px;
			height: 73px;
		}
	}

	&__desc {
		margin-top: 12px;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.5;
		color: $main-white;
		@media screen and (min-width: 768px) {
			margin-top: 20px;
			font-weight: 600;
			font-size: 16px;
		}
		@media screen and (min-width: 1024px) {
			margin-top: 24px;
			font-size: 18px;
			text-decoration: underline;
		}
	}
}
