.imageContainer {
  width: 100%;
}

.sections {
  border: 1px solid #e8f1e7;
  border-radius: 18px;
  z-index: 1;
  position: relative;
  margin: -24px 20px 0 20px;
  background: #fffefe;
  padding: 18px 10px;
}
.sections__title {
  margin-bottom: 24px;
  justify-content: center;
  display: flex;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #141414;
}

.sections__paragraph {
  margin-bottom: 20px;
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #141414;
}

.button__text {
  font-size: 15px;
}

.subTitle {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
}

.newVolonter__container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 510vh;
}
