.languageChanger__container {
  display: flex;
  align-items: center;
  text-align: center;
  //   border: 1px solid black;
  position: relative;
  width: 100%;
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
  }
}

.languageChanger__block {
  width: 100%;
  height: fit-content;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: fit-content;
  }
}

.languageList {
  position: absolute;
  display: block;
  //   border-radius: 10px;
  //   padding: 10px;
  //   width: 156px;
  //   height: 176px;
}

.languageChanger:hover .languageListItem {
  background-color: #e8f1e7;
}

.flag__image {
  border-radius: 3px;
  margin-right: 8px;
}
// .changeLanguage__select {
//   border-radius: 8px;
//   padding: 8px;
//   width: 136px;
//   height: 40px;
//   border: none;
//   margin-top: auto;
//   margin-bottom: auto;
// }

.changeLanguage__button {
  font-weight: 300;
  font-size: 20px;
  color: #141414;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 8px;
    justify-content: center;
  }
  &.active .svgIcon {
    transform: rotate(180deg);
  }
}
.svgIcon {
  transition: transform 0.5s ease;
}
// .languageListItem {
// }

.changeLanguage__options {
  border-radius: 8px;
  width: 136px;
  height: 40px;
}
