// .header-contact {
//   display: flex;
//   // max-width: 1440px;
//   height: 60px;
//   padding: 10px 0px;
//   justify-content: center;
//   padding: 20px 0px;
//   padding-left: auto;
//   padding-right: auto;

//   background-color: #e8f1e7;
//   // border-radius: 15px;
//   // box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
//   //   15px 15px 15px rgba(0, 0, 0, 0.1),
//   //   inset -5px -5px 5px rgba(255, 255, 255, 0.2),
//   //   inset 5px 5px 5px rgba(0, 0, 0, 0.1);
// }

// .header__svg-link {
//   // margin-left: 0px;
//   width: 24px;
//   height: 24px;

//   // border-radius: 7px;
//   // text-decoration: none;
//   display: inline-block;
//   position: relative;
//   color: black;
//   margin: 5px;

//   &:hover,
//   &:focus {
//     color: green;
//     fill: green;
//     &::after {
//       transform: scaleX(1);
//       transform-origin: bottom left;
//     }
//   }
//   &:focus {
//     outline: none;
//   }
// }

// .header-contact-to-center {
//   display: flex;
//   justify-content: space-between;
//   max-width: 1440px;
//   width: 100%;
//   margin: 0px, auto;
//   margin-right: auto;
//   margin-left: auto;
// }
// .header {
//   display: flex;

//   justify-content: space-between;
//   margin: 20px 0px;

//   // background-color: #2ec194 !important;
//   // border-radius: 15px;
//   // box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
//   //   15px 15px 15px rgba(0, 0, 0, 0.1),
//   //   inset -5px -5px 5px rgba(255, 255, 255, 0.2),
//   //   inset 5px 5px 5px rgba(0, 0, 0, 0.1);
// }

// .header-contact-phone-and-email-block {
//   display: flex;
//   align-items: center;
// }
// .header-contact-social-block {
//   display: "flex";
// }
// .social-icon {
//   width: 30px;
//   height: 30px;

//   &:hover {
//     fill: green;
//     color: green;
//   }
// }

// .header__social {
//   width: 323px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
