// nav {
//   display: flex;
//   margin-left: auto;
//   align-items: center;
//   text-align: center;
// }

// .nav-item {
//   position: relative;
//   margin-right: 20px;
//   height: fit-content;
//   cursor: pointer;
//   display: flex;
// }
// .nav-item:hover .svg-icon {
//   transform: rotate(180deg);
//   transition: transform 0.5s;
//   stroke: green; /* Додайте цей рядок, щоб змінити колір на зелений */
// }

// .dropdown {
//   display: none;
//   position: absolute;
//   top: 100%;
//   left: 0;
//   background-color: #fff;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//   list-style: none;
//   padding: 10px;
//   border-radius: 4px;
//   width: max-content;
// }

// .nav-links {
//   color: black;
// }

// .nav-item:hover .dropdown {
//   display: block;
//   transition: transform 1.5s;
// }

// .dropdown li {
//   margin: 5px 0;
// }

// .dropdown {
//   transition: transform 1.5s;
//   color: #333;
//   text-decoration: none;
//   font-size: 14px;
//   transition: color 0.3s;
//   // background-color: #2ec194 !important;
//   // border-radius: 15px;
//   box-shadow: 6px 6px 2px rgba(255, 255, 255, 0.2),
//     5px 5px 15px rgb(0 0 0 / 35%);
//   z-index: 1;
// }

// .dropdown a:hover {
//   color: green;
// }

// .active {
//   font-weight: bold;
// }
