@import "../../../styles/utils/variables";

// .button {
//   font-weight: 300;
//   font-size: 20px;
//   line-height: 1;
//   text-align: center;
//   color: $main-white;
//   border-radius: 40px 0;
//   padding: 10px 40px;
//   background: $main-green;
//   border: none;
//   &:hover,
//   &:focus {
//     background: $green-hover;
//   }
//   &.active {
//     background: $green-hover;
//   }
// }

.button {
  font-weight: 300;
  line-height: 1;
  text-align: center;
  color: $main-white;
  border-radius: 40px 0;
  background: $main-green;
  border: none;
  &:hover,
  &:focus {
    background: $green-hover;
  }
  &.active {
    background: $green-hover;
  }
  @media screen and (min-width: 1440px) {
  }
}
