@import "../../../../styles/utils/variables";

.container {
  margin-top: 24px;
  @media screen and (min-width: 768px) {
    margin-top: 28px;
  }
  @media screen and (min-width: 1024px) {
    margin-top: 0;
  }
}
.wrap {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 425px) {
    margin: 0 50px;
  }
  @media screen and (min-width: 768px) {
    margin: 0 100px;
  }
  @media screen and (min-width: 1440px) {
    gap: 64px;
    margin: 0;
  }
}
.list {
  display: grid;
  grid-auto-flow: column dense;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(8, 1fr);
  justify-content: space-between;
  row-gap: 8px;
  @media screen and (min-width: 768px) {
    grid-auto-flow: column dense;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 8px;
    justify-content: space-between;
  }
  @media screen and (min-width: 1440px) {
    gap: 8px 64px;
  }
}
.item {
  padding: 8px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  @media screen and (min-width: 768px) {
    padding: 8px;
    font-size: 18px;
    line-height: 1.5;
  }
}

.link {
  color: $main-black;
  &:hover,
  &:focus {
    color: $green-hover;
  }
}
.active {
  color: $green-hover;
}
