@import "../../../styles/utils/variables";

.section {
  background: $green-50;
  padding: 24px 0 0;
  @media screen and (min-width: 768px) {
    padding: 40px 0 0;
  }
}
.wrap {
  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    gap: 33px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 0;
    gap: 125px;
  }
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: 768px) {
    gap: 64px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 1024px) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
  }
  @media screen and (min-width: 1440px) {
  }
}
.btn {
  margin: 0 auto;
  width: 317px;
  height: 40px;
  @media screen and (min-width: 765px) {
    width: 409px;
    height: 48px;
  }
  @media screen and (min-width: 1024px) {
    width: 259px;
    height: 52px;
  }
  @media screen and (min-width: 1440px) {
    width: 303px;
    height: 52px;
  }
}
