@import "../../../../styles/utils/_variables.scss";

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;

  @media screen and (min-width: 1440px) {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
  }
}
