@import "../../../../styles/utils/variables";

.container {
  border: 1px solid #0d490d;
  border-radius: 18px;
  padding: 24px;
  background: $green-30;
  @media screen and (min-width: 768px) {
    border-radius: 24px;
    padding: 36px 60px;
  }

  @media screen and (min-width: 1440px) {
    padding: 48px 60px;
  }
}
.inner {
  display: flex;
  flex-direction: column;

  gap: 20px;
  @media screen and (min-width: 1024px) {
    gap: 24px;
  }
}

.img {
  margin-left: auto;
  margin-right: auto;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  @media screen and (min-width: 1024px) {
    width: 540px;
  }
}

.description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: $main-black;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
.link {
  font-weight: 600;
  color: $main-green;
  transition: all 200ms ease-in-out;
  &:hover,
  &:focus {
    color: $green-hover;
  }
}
.btn {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 308px;
  font-size: 16px;
  padding: 12px 40px;
  @media screen and (min-width: 768px) {
    width: 308px;
    padding: 16px 40px;
    font-size: 20px;
  }
}
