@import "../../../../styles/utils/variables";

.container {
  margin: -20px;
  background: $green-30;
  @media screen and (min-width: 768px) {
    margin: 0 -40px;
  }
  @media screen and (min-width: 1024px) {
    margin: 0 -60px;
  }
  @media screen and (min-width: 1440px) {
    margin: 0;
  }
}
.inner {
  padding: 24px 48px;
  display: flex;
  flex-direction: column;

  gap: 20px;
  @media screen and (min-width: 1440px) {
    padding: 24px 370px;
    gap: 24px;
  }
}

.img {
  margin-left: auto;
  margin-right: auto;
  width: 36px;
  height: 52px;
  @media screen and (min-width: 1440px) {
    width: 61px;
    height: 88px;
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: $main-black;

  @media screen and (min-width: 1440px) {
    font-size: 18px;
  }
}
.link {
  font-weight: 600;
  color: $main-green;
  @media screen and (min-width: 1440px) {
  }
}
.btn {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 308px;
  font-size: 16px;
  padding: 12px 40px;
  @media screen and (min-width: 1440px) {
    padding: 16px 40px;
    font-size: 20px;
  }
}
