@import "../../../styles/utils/variables";

.box {
  display: inline-block;
  margin-bottom: 32px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 60px;
  }
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $main-black;
  @media screen and (min-width: 1440px) {
    font-size: 32px;
  }
}
.accentTitle {
  color: $main-green;
}
.line {
  height: 4px;
  background: $main-green;
  transform: skew(-50deg, 0deg);
  @media screen and (min-width: 1440px) {
    height: 4px;
  }
}
