@import "../../../../styles/utils/variables";
.section {
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    align-items: start;
  }
}
.firstList {
  display: flex;
  gap: 16px;
  @media screen and (min-width: 1024px) {
    gap: 24px;
  }
}
.first_card {
  background: $main-white;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 12px;
  width: 320px;
  gap: 12px;

  @media screen and (min-width: 768px) {
    border-radius: 10px;
    width: 336px;
    &:hover,
    &:focus {
      box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
    }
  }
  @media screen and (min-width: 1024px) {
    width: 440px;
  }
  @media screen and (min-width: 1440px) {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 766px;
  }

  &__img_wrap {
    position: relative;
    width: 100%;
    height: 214px;
    border-radius: 10px;
    overflow: hidden;
    @media screen and (min-width: 1440px) {
      width: 742px;
      height: 534px;
    }
  }
  &__img {
    object-fit: cover;
  }
  &__title_link {
    // color: $main-black;
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;

    @media screen and (min-width: 1024px) {
      font-size: 18px;
    }
  }
  &__desc {
    display: none;
    @media screen and (min-width: 1440px) {
      display: inline-block;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.5;
      color: $main-black;
    }
  }
  &__data {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: $main-grey;
  }
}
.first_card:last-child {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1440px) {
    display: none;
  }
}
.last_cards {
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1440px) {
    display: block;
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: 1440px) {
    gap: 12px;
  }
}
.item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $main-grey;

  padding: 12px;
  width: 320px;
  gap: 12px;
  background: $main-white;

  @media screen and (min-width: 1440px) {
    border-radius: 10px;
    border-bottom: none;
    width: 482px;
    padding: 12px;
    &:hover,
    &:focus {
      box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
    }
  }
  &__inner {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    @media screen and (min-width: 1440px) {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  &__wrap_img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 75px;
    border-radius: 4px;
    @media screen and (min-width: 1440px) {
      height: 214px;
    }
  }
  &__img {
    object-fit: cover;
  }
  &__title_link {
    color: $main-black;
    &:hover,
    &:focus {
      color: $focus-green;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;

    width: 209px;
    margin-bottom: 12px;

    @media screen and (min-width: 1440px) {
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
      width: 416px;
      margin-bottom: 0;
    }
  }
  &__data {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: $main-grey;
    @media screen and (min-width: 1440px) {
      font-size: 16px;
    }
  }
}
.box {
  margin-top: 24px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 48px;
    text-align: center;
    marin-bottom: 4px;
  }
  &__link {
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: $main-black;
    position: relative;

    padding: 14px 12px;
    transition: all 200ms ease-in-out;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $main-black;
      transition: all 200ms ease-in-out;
    }

    &:hover::after,
    &:focus::after {
      height: 2px;
      background-color: $green-hover;
    }

    @media screen and (min-width: 1024px) {
      font-size: 20px;
      padding: 12px;
    }
  }
}
